/* 노말라이즈 */

html {
    font-family: "Noto Sans KR", sans-serif, "Shippori Mincho B1", serif;
  }
  
  @font-face {
      font-family: 'ChosunSg';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  body,
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  /* 라이브러리 */
  
  .con {
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-jc-e {
    justify-content: flex-end;
  }
  
  .flex-jc-c {
    justify-content: center;
  }
  
  .flex-jc-sb {
    justify-content: space-between;
  }
  
  .flex-jc-sa {
    justify-content: space-around;
  }
  
  .flex-ai-c {
    align-items: center;
  }
  
  .flex-as-c {
    align-self: center;
  }
  .flex-ac-sb {
    align-content: space-between;
  }
  
  .flex-ai-e {
    align-items: flex-end;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  * > .flex-1-0-0 {
    flex: 1 0 0;
  }
  
  @media (max-width: 720px) {
    .visible-md-up {
      display: none;
    }
  }
  
  @media (min-width: 721px) {
    .visible-sm-down {
      display: none;
    }
  }
  /* 라이브러리 끝 */
  
  /* 커스텀 시작 */
  
  :root {
    --site-width: 1903px;
  }
  
  .con {
    max-width: var(--site-width);
  }
  
  /* 스크롤 시작 */
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ddd;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
  
  /* 스크롤 끝 */
  
  /* 메뉴바 배경색 */
  
  .top-bar.bg {
    background-color: white;
    transition: 0.5s;
  }
  
  /* 1차 메뉴 시작 */
  
  .top-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
  }
  
  .top-bar > .menu-box-1 {
    width: 1800px;
    height: 80px;
    padding: 30px;
    background-color: white;
  }
  
  .top-bar > .menu-box-1 .logo > a > img {
    padding-left: 30px;
    padding-top: 10px;
    width: 213px;
    height: 57px;
  }
  
  .top-bar > .menu-box-1 .item-list-box {
    width: 80%;
    margin-right: 30px;
  }
  
  .top-bar > .menu-box-1 .item-list-box > li > a {
    padding: 20px 10px;
    font-size: 18px;
    font-weight: lighter;
  }
  
  .top-bar > .menu-box-1 .item-list-box > li:nth-child(2) > a {
    padding: 20px 10px;
    font-size: 18px;
    font-weight: initial;
  }
  
  .top-bar > .menu-box-1 .item-list-box .login li > a {
    font-weight: lighter;
  }
  
  .top-bar > .menu-box-1 .item-list-box .login li:first-child a {
    padding-right: 15px;
  }
  
  .top-bar > .menu-box-1 .item-list-box .login li:last-child a {
    border-left: 1.5px solid black;
    padding-left: 15px;
  }
  
  .top-bar .two-lines {
    width: 100%;
    height: 10px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  /* 검색창 */
  
  .field-container {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 10px;
    top: -10px;
  }
  
  .icons-container {
    position: absolute;
    top: 3px;
    right: -10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  
  .field {
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
  }
  
  /* 검색창 끝*/
  
  /* 나의 작은 집 시작 */
  
  .menu-box-3 {
    position:fixed;
    padding-top:200px;
    margin-left:100px;
    width: 15%;
    height: 800px;
    border-right:1px solid black;
  }
  
  .menu-box-3 .list-item {
    margin-top: -400px;
    width: 1500px;
    height: 100px;
    font-size: 20px;
  }
  
  .menu-box-3 .list-item > li {
    line-height:50px;
  }
  
  .menu-box-3 .list-item > li > a {
    padding: 20px;
    font-weight: lighter;
  }
  
  /* 내용 박스 */
  
  .section-1 {
    position:relative;
    width:1300px;
    height:750px;
    top:200px;
    right:100px;
    left:500px;
    overflow:hidden;
  }
  
  .section-1 > img {
    width:100%;
    height:100%;
    position:absolute;
  }
  
  .section-2 {
    width:1300px;
    height:750px;
    text-align:right;
    margin-top:300px;
    margin-right:100px;
    margin-left:500px;
  }
  
  .section-2 .line {
    border-right:1px solid black;
    height:300px;
    margin-top:50px;
    margin-bottom:50px;
  }
  
  .section-2 > span {
    font-family: serif;
    font-size:30px;
    line-height:50px;
  }
  
  .section-3 {
    position:relative;
    width:1300px;
    height:850px;
    right:100px;
    left:500px;
  }
  
  
  .section-3 .img-box-1 {
    width:1300px;
    height:500px;
    position:absolute;
    overflow:hidden;
  }
  
  .section-3 img {
    width:100%;
    height:100%;
  }
  
  .section-3 .text-box-1 {
    width:100%;
    height:350px;
    position:absolute;
    bottom:0;
  }
  
  .section-3 span {
    font-size:16px;
    font-weight:100px;
    display:block;
    line-height:30px;
    margin-top:20px;
    font-family: 'ChosunSg';
  }
  
  .section-4 {
    position:relative;
    width:1400px;
    height:850px;
    top:100px;
    right:0;
    left:500px;
  }
  
  
  .section-4 .img-box-2 {
    width:1300px;
    height:500px;
    right:0;
    text-align:right;
    position:absolute;
    overflow:hidden;
  }
  
  .section-4 .text-box-2 {
    width:100%;
    height:350px;
    left:0;
    position:absolute;
    bottom:200px;
  }
  
  .section-4 span {
    text-align:left;
    font-size:20px;
    display:block;
    line-height:30px;
    font-family: 'ChosunSg';
  }
  
  .section-4 span:nth-child(2) {
    font-weight:bold;
    font-size:25px;
    line-height:50px;
  }
  
  .section-5 {
    position:relative;
    width:1300px;
    height:850px;
    top:-200px;
    right:100px;
    left:500px;
  }
  
  .section-5 > span {
    font-size:16px;
    font-weight:100px;
    display:block;
    line-height:30px;
    margin-top:15px;
    font-family: 'ChosunSg';
  }
  
  .section-5 > span:first-child {
    text-align:right;
    font-weight:bold;
    font-size:20px;
    border-bottom:1px solid black;
  }
  
  .section-5 > span:nth-child(2) {
    text-align:right;
    font-size:14px;
  }
  
  .section-6 {
    position:relative;
    width:1400px;
    height:2000px;
    top:-650px;
    right:0;
    left:500px;
  }
  
  .section-6 .img-box-3 {
    width:1300px;
    height:1566px;
    position:absolute;
    overflow:hidden;
  }
  
  .section-6 .img-box-3 > img {
    width:100%;
    height:100%;
  }
  
  .section-6 .text-box-3 {
    width:1300px;
    height:350px;
    left:0;
    position:absolute;
    bottom:50px;
  }
  
  .section-6 span {
    text-align:left;
    font-size:16px;
    display:block;
    line-height:25px;
    font-family: 'ChosunSg';
  }
  
  .section-6 span:first-child {
    font-weight:bold;
  }
  
  .section-6 span:nth-child(2) {
    font-size:14px;
  }
  
  .section-6 span:last-child {
    margin-top:40px;
  }
  
  .section-7 {
    position:relative;
    width:1400px;
    height:1400px;
    top:-700px;
    right:0;
    left:500px;
  }
  
  .section-7 .img-box-4 {
    width:1300px;
    height:1000px;
    position:absolute;
    overflow:hidden;
  }
  
  .section-7 .img-box-4 > img {
    width:100%;
    height:100%;
  }
  
  .section-7 .text-box-4 {
    width:1300px;
    height:350px;
    left:0;
    position:absolute;
    bottom:30px;
  }
  
  .section-7 span {
    text-align:left;
    font-size:16px;
    display:block;
    line-height:25px;
    font-family: 'ChosunSg';
  }
  
  .section-8 {
    position:relative;
    width:1400px;
    height:1400px;
    top:-900px;
    right:0;
    left:500px;
  }
  
  .section-8 .img-box-5 {
    width:1300px;
    height:1000px;
    position:absolute;
    overflow:hidden;
  }
  
  .section-8 .img-box-5 > img {
    width:100%;
    height:100%;
  }
  
  .section-8 .text-box-5 {
    width:1300px;
    height:350px;
    left:0;
    position:absolute;
    bottom:30px;
  }
  
  .section-8 span {
    text-align:left;
    font-size:14px;
    display:block;
    line-height:25px;
    font-family: 'ChosunSg';
  }
  
  .section-8 span:first-child {
    font-weight:bold;
    font-size:16px;
  }
  
  .section-9 {
    position:relative;
    width:1300px;
    height:500px;
    top:-1100px;
    right:0;
    left:500px;
    border-top:1px solid #dfdfdf;
  }
  
  .section-9 > span {
    display:block;
  }